

header, body, nav, h1, main, sidebar, img {
    display: block;
    position: relative;
    margin: 0;
    padding:0;

}

body {
    width: 100%;
    padding: 0;
    font-family: sans-serif;
    background-color: gray;
    font-size: 14pt;
}

#pagecontainer {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    border: 5px solid green;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 220px;
    text-align: center;
    padding: 20px 0px;
    background-color: #333;
    border-bottom: 5px solid green;
    
}
header h1 {
    position:absolute;
    right:0;
    top: 40%;
    width: 70%;
    line-height: 1.6em;
    margin-top: -0.8em;
    font-size: 1.8em;
    text-align: left;
    float: left;
    color: green;
}

#headerlogo {
    float:left;
    width: 10%;
    min-width: 150px;
    margin: 10px 10px 10px 30px;
    height:auto;
    border: 2px solid black;
}

header nav {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0px;
    background: #66ff66;
    background: linear-gradient(to bottom, #4b4b4b, #66ff66, #4b4b4b);
    background: -webkit-linear-gradient(#4b4b4b, #66ff66, #4b4b4b);
    background: -o-linear-gradient(#4b4b4b, #66ff66, #4b4b4b);
    background: -moz-linear-gradient(#4b4b4b, #66ff66, #4b4b4b);
    
}

header nav ul {
    position: relative;
    height: 100%;
    list-style-type: none;
    margin: 0px;
    padding:0px;
    /*border: 1px solid orange;*/
}

.navButtons {
    position: relative;
    display: inline;
    float:left;
    text-align:center;
    width: 16%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 1%;
    margin-right:.8%;
    /*border: 1px solid red;*/
}

header nav li {
    display: inline;
    float:left;
    text-align:center;
    width: 16%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right:.8%;
    
   /* border: 1px solid red;*/
}
.navtext  {
    font-size: 20pt;
    width:100%;
    height:100%;
    padding:10px 20%;
    color: black;
    text-decoration: none;
   /* border: 1px solid purple;*/
}

.submenu {
    position:absolute;
    width:100%;
    padding: 0;
    margin: 0;
    top: 48px;
    z-index: 2;
    display: none; 
}

.submenuElem {
    width: 100%;
    height: 100%;
    font-size: 16pt;
    color: #66ff66;
    padding:20px 15% 10px 15%;
    background: #4b4b4b;
    border-bottom: 1px solid green;
    text-align: left;
    
}
    
#pagecontainer main {
    text-align:left;    
    padding: 10px 20px;
}

#pagecontainer main h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

#pagecontainer main p {
    
    padding: 10px 20px;
}


/*
header nav li a:hover  {
    font-size: 20pt;
    text-decoration: none;
    color: white;
    background-color: #66ff66;
    background: linear-gradient(to bottom, #4b4b4b, #aaaaaa, #4b4b4b);
    background: -webkit-linear-gradient(#4b4b4b, #aaaaaa, #4b4b4b);
    background: -o-linear-gradient(#4b4b4b, #aaaaaa, #4b4b4b);
    background: -moz-linear-gradient(#4b4b4b, #aaaaaa, #4b4b4b);
}
 */   

footer {
    height: 40px;
    clear: left;
    text-align: center;
    background-color: #66ff66;
    background: linear-gradient(to bottom, #4b4b4b, #66ff66, #4b4b4b);
    background: -webkit-linear-gradient(#4b4b4b, #66ff66, #4b4b4b);
    background: -o-linear-gradient(#4b4b4b, #66ff66, #4b4b4b);
    background: -moz-linear-gradient(#4b4b4b, #66ff66, #4b4b4b);
    padding-top: 20px;
    padding-bottom: 10px;
}
    
